@import '../../../assets/styles/variables.scss';

.userListContainer {
  &__header {
    display: flex;
    justify-content: space-between;

    button {
      margin: 1rem 0;
    }
  }
  .spinner {
    width: 100px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}
