$bg-color: #f4f4f4;

$red: #ec5160;
$red--alpha-75: rgba(236, 81, 96, 0.75);
$red--alpha-50: rgba(236, 81, 96, 0.50);
$red--alpha-25: rgba(236, 81, 96, 0.25);
$red--alpha-10: rgba(236, 81, 96, 0.10);
$orange: #f29719;
$orange--alpha-75: rgba(242, 151, 25, 0.75);
$orange--alpha-50: rgba(242, 151, 25, 0.50);
$orange--alpha-25: rgba(242, 151, 25, 0.25);
$orange--alpha-10: rgba(242, 151, 25, 0.10);
$green: #78b636;
$green: rgba(120, 182, 54, 0.96);
$green--alpha-75: rgba(120, 182, 54, 0.95);
$green--alpha-50: rgba(120, 182, 54, 0.50);
$green--alpha-25: rgba(120, 182, 54, 0.25);
$green--alpha-10: rgba(120, 182, 54, 0.10);
$blue: #36a0c2;
$blue--alpha-75: rgba(54, 160, 194, 0.75);
$blue--alpha-50: rgba(54, 160, 194, 0.50);
$blue--alpha-25: rgba(54, 160, 194, 0.25);
$blue--alpha-10: rgba(54, 160, 194, 0.10);
